@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Poppins";
  }

  /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}



.fadeIn {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.fadeOut {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.chart-container {
  background-color: black;
}

/* #main_code {
  height: 100%;
  width: 100%;
  max-height: 100vh;
  max-width: 100%;
  background-color: #9f9f9f;
} */


/* .flex-container {
  display: flex;
  flex-direction: column;
  height: 100vh; 
  overflow: hidden;
}
.scrollable-content {
  overflow-y: auto;
} */